.navbar {
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.name {
    margin-right: auto;
}

.links {
    margin: 2em;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16em;
}

.headshot {
    width: 30%;
}

.intro_brief {
    width: 60%;
}

.passion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8em;
    margin-bottom: 16em;
}

.instruments {
    width: 40%;
    padding: 4em;
    margin-right: 3em;
}

.passion_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 14em;
    margin-left: 10em;
}

.passion_title {
    margin: 0;
    padding: 1em;
}

.passion_brief {
    margin: 0;
    padding: 2em;
}

.likes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 8em;
    margin-bottom: 16em;
}

.beach {
    width: 50%;
    border-radius: 50%;
}

.likes_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 8em;
    margin-right: 10em;
}

.likes_title {
    margin: 0;
    padding: 0.5em;
}

.likes_brief {
    margin: 0;
    padding: 1em;
    margin-right: 5em;
    padding-right: 9em;
}